*{
  margin: 0;
  padding: 0;
  color: aliceblue;
  font-family: Arial, Helvetica, sans-serif;
}
:root{
  --c1:#040D12;
  --c2:#183D3D;
  --c3:#5C8374;
  --c4:#93B1A6;
}
.flex{
  display: flex;
}
.cen{
  align-items: center;
  justify-content: center;
}
.c{
  border-radius: 50%;
}
body{
  background-color: var(--c1);
}